.questionScreen {
  background-color: red;
  background-image: url("../../images/landing.jpg");
  background-size: cover; // Adjust as needed (cover, contain, etc.)
  background-position: center; // Adjust position as needed
  background-repeat: no-repeat; // Prevent repeating the image
  width: 100vw; // Adjust width as needed
  height: 100vh; // Adjust height as needed
}
